*{
    font-family: Arial, sans-serif;
    list-style-type: none;
}

.bg{
    margin: 0;
    background-image: url("../images/arena.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
}

.block{
    display: block;
}

ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

header nav{
    margin-right: 10px;
}

header nav a, footer ul li a{
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-left: 20px;

}

header nav a:hover, footer ul li a:hover{
    text-decoration: none;
    color: #ffab4f;

}

main{
    margin-left: 25px;
}

footer{
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer img{
    width: 10%;
}

footer ul li{
    display: inline-block;
}

/*********** CSS flight.php *******************/
#flight{
    min-width: 550px;
    max-width: 800px;
    margin: auto;
    margin-top: 2%;
}

.prix, .details{
    display: flex;
    justify-content: space-between;
}

.prix{
    background-color: #ffa366;
}

.prix form{
    margin: 0;
}

.prix span{
    font-size: 2em;
    color: white;
    padding: 5px;
}

.prix form input[type="number"]{
    border: none;
    width: 54px;
    height: 35px;
    padding: 5px;
}


.prix form input[type='submit']{
    padding: 16px;
    text-decoration: none;
    color: white;
    background-color: #ff6600;
    border: none;
}

.prix form input[type="submit"]:hover{
    background-color: #ff8a3c;
}

.details{
    background-color: lightgrey;
    align-items: center;
    padding: 10px;
}


.details img{
    width: 100px;
    height: 15px;
}

aside{
    background-color: #efe9a9;
    display: none;
    width: 340px;

}

aside figure{
    text-align: center;
}


aside img{
    width: 60%;
    min-width: 260px;
}

figcaption{
    display: inline-block;
    padding: 15px 0px;
    text-align: justify;
}



/************** index.php CSS ******************/
h1{
    color: white;
}

.myh1{
    color: orange;
}

.invalid{
    background-color: #fde2e1;
    border: 1px solid red;
}


#formIndex{
    width: 30%;
    min-width: 420px;
    background-color: rgba(217, 217, 217, 0.8);
    text-align: center;
    margin-bottom: 248px;
}

#formIndex fieldset > div, .divSelect div{
    margin-bottom: 10px;
    padding: 10px;
}

#formIndex div p{
    color: red;
}

.inline{
    display: inline-block;
}

#formIndex fieldset > div:nth-child(4) div{
    margin-top: 5px;
    margin-right: 20px;
}

#formIndex fieldset{
    border: none;
}

#formIndex label{
    font-weight: bold;
    display: inline-block;
    font-size: 0.9em;
    background-color: #ff8a3b;
    border-radius: 10px;
    padding: 5px;
}

#formIndex select, #formIndex input[type='date']{
    border: none;
    border-radius: 5px;
    height: 28px;
}

#formIndex input[type='submit']{
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

#formIndex input[type='submit']:hover{
    background-color: #f44336;
    color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 15px;
}

.divRadio{
    text-align: left;
}

/*************** CSS inscrition.php ************************/
.bg2{
    margin: 0;
    background-image: url("../images/brazil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
}
legend{
    font-family: 'Noto Sans', sans-serif;
    text-align:center;
}
#register{
    margin: 30px;
    background-color: #ffbabdc7;
    border-radius: 31px;
    width: 573px;
    margin-left: 40px;
    margin-bottom: 58px;
}

#register fieldset{
    margin: 0 auto;
    width: 95%;
    border: none;
}

#register label{
    margin-left: 12px;
}


#register input[type=text]{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#register input[type=password]{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#register input[type=submit] {
    font-family: 'Noto Sans', sans-serif;
    width: 49%;
    background-color:#dd0812b5;
    color: white;
    padding: 9px 8px;
    margin: 13px 146px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register input[type=submit]:hover {
    background-color: #980007b5;
}

#register span{
    display: block;
    text-align: center;
    width: 80%;
    padding: 5px;
    color: red;
    border-radius: 5px;
    background-color: #fbf3f3;
    margin: 0 auto 10px;
    border: solid 1px red;
}




